@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'ONE-Mobile-POP';
}
.container{
    margin-left: 0px;
}
.header {
    margin-top: 5px;
}
.header_image {
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}


.help {
    width: 50px;
    margin: 0 auto;
    margin-left: 720px;

}

.help .question {
    height: 40px;
    width: 40px;
    background: #E6E6FA;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #DC143C;
}

.help .popup, .help .popup2 {
    width: 560px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    position: relative;
    background: ivory;
    opacity: 0;
    transition: 1s;
}

.help .popup {
  left: -260px;
  top: 10px;
}

.help .popup2 {
  height: 220px;
}

.help .popup2 h4 {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.help:hover .popup {
  opacity: 1;
  height: 270px;
}

.help .tell-me p:first-child {
  color: #317eac;
  cursor: pointer;
}

.tell-me {
  width: 150px;
}

.help .tell-me:hover .popup2 {
  top: -220px;
  opacity: 1;
}

.help .popup h3 {
  margin: 0;
  padding: 10px 0 0 10px;
  height: 30px;
  background: #9ACD32;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
.help .popup p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
    color: black;
    font-family: 'ONE-Mobile-POP';
}

.help .popup .popup2 .sub-levels {
  padding: 0 0 10px 140px;
}

.help .popup .popup2 .sub-levels strong {
  font-size: 20px;
}

.help .popup .popup2 p:nth-child(5) {
  padding: 20px 0 0 10px;
}

.help .popup a {
  text-decoration: none;
  color: #317eac;
}

.help .popup a:visited {
  color: #317eac;
}

.help .popup p em {
  font-size: 12px;
}
<!--선수선택창 css-->

.select_and_body{
    width: 60%;
}
.select_player {
    margin: 10px auto;
    text-align: center;
    width: 60%;
    float: left;
}
.search {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    float:left;
}
.tc {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    float: left;
    position:relative;
    left: 80px;
}
.search_modal {
    font-size: 20px;
    margin: 0 auto;
    float: center;
    position:relative;
    left: 150px;
    width: 90%;
}
.search_info{
    float: left;
    width: 90px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 30px;
}
.searchStr {
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 3px;
    margin: 0 auto;
}

#search_button {
    float: left;
    margin: 0 auto;
    height: 35px;
    width: 7%;
    text-align:center;
    position:relative;
    padding: 0;
    margin-top:3px;
    margin-left:5px;
    border-radius: 5px;
    position: relative;
    bottom: 3px;
}
.search_image {
    width: 60%;
}
.my_button{
    background:#CEF6CE;
    border:none;
    position:relative;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 20px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}
.my_button:hover{
    background: #1E90FF;
}
.add_image{
    width: 30px;
    position: relative;
    right: 15px;
}
button:hover{
  background:#F5DA81;
  color:#585858;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1C1C1C;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.cancel_button{
    background-color: #CEF6CE;
    border: none;
    color: #9ACD32;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 25px;
    line-height: 1em;
    outline: none;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    width: 30px;
    border-radius: 5px;
}


<!-- body css --!>
.body {
    float: left;
    width: 60%;
}
.home_list {
    float: left;
    width: 20%;
    text-align: center;
    margin-top: 25px;
}
.away_list {
    float: right;
    width: 20%;
    text-align: center;
    margin-top: 25px;
}
.away, .home {
    text-align: center;
    background-color: ivory;
    width: 90%;
    height: 630px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: inset 0 0 8px #deb13a;
}
.ground {
    float: left;
    width: 60%;
}
.score_board {
    background-color: black;
    color: #aaa;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 10px;
}
.score_board_table {
    width: 100%;
    height: 100px;
    margin: 0px auto;
}
.live_board {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 5px;
}
.inning {
    float: left;
    width: 7%;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 3px;
    border: 1px solid #ffebb5;
    box-shadow: inset 0 0 8px #deb13a;
}
.inning_button {
    width: 100%;
    position: relative;
    bottom: 1.5px;
    background-color:transparent;
    border: transparent;
    color : #aaa;
}
.clicked {
    background-color: #F5DA81;
    color: black;
}
.record_view {
    display: block;
}
.gap {
    float: left;
    width: 4.5%;
}
.record_board {
    background-color: ivory;
    width: 91%;
    margin: auto;
    height: 340px;
    padding-top: 10px;
    border: 1px solid #ffebb5;
    border-radius: 7px;
    box-shadow: inset 0 0 8px #deb13a;
    overflow: auto;
    color: black;
}
.play_ball {
    background-color: transparent;
    border: transparent;
}
.play_ball:hover {
    background: transparent;
    color: 	#006400;
}
.play_text {
    margin-top: 70px;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
}
#overlay {
    color: black;
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    max-width: 800px;
    border-radius: 3px;
    background: white;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
    top: 72px;
    left: 72px;
    right: 72px;
    margin-right: auto;
    height: calc(100% - 144px);
    z-index: 1;
}
#report{
    color: black;
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    max-width: 800px;
    border-radius: 3px;
    background: #FAFAD2;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
    top: 120px;
    left: 72px;
    right: 72px;
    margin-right: auto;
    height: calc(100% - 140px);
    z-index: 1;
}

@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#in_report_home{
    float:left;
    margin-left: 80px;
    margin-right: 10px;
}
#in_report_away{
    float:right;
    text-align:left;
    margin-right: 60px;
}
.report_font{
    font-family: 'BinggraeSamanco-Bold';
    font-size: 23px;
    font-weight: bold;
}
.record{
    font-family: 'Cafe24Shiningstar';
    font-size: 25px;
    font-weight: normal;
}
.search_overlay_button{
    background-color: #FFDAB9;
    border: transparent;
    width: 100%;
}
.search_overlay_button:hover{
    background: #F08080;
}
.overlay_add_button{
    background:#CEF6CE;
    border:none;
}
.overlay_add_button:hover{
    background:#1E90FF;
}
.re_game{
    position: absolute;
    left: 50%;
    display: none;
}
.re_game_button{
    background-color: #EEE8AA;
    color: 	#9932CC;
    border-radius: 10%;
}