<!DOCTYPE html>
<html lang="ko">

    <head>
        <link href="static/images/icon_2.jpg" rel="shortcut icon" type="image/x-icon">
        <!-- Webpage Title -->
        <title>BaSi</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!-- self CSS -->
        <link href="static/css/style.css" rel="stylesheet">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="static/js/page.js" > </script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <div class="header">
                <img class='header_image' src="static/images/icon_1.webp"/>
                <h1>Baseball Simulation PlayGround <p style="float: right; font-size: 30px; color: #2F4F4F; font-style: oblique; position:relative; top: 10px; right: 568px;">(Beta)</p></h1>
                <p>by Dzeko</p>
            </div>
            <br>
            <div class="home_list">
                    <table id="home_table" class="home">
                        <tr>
                            <td colspan="6">Home</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_1" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_2" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_3" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_4" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_5" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_6" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_7" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_8" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_9" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>SP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_10" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>RP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_11" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="home_12" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                    </table>
                </div>
            <div class="away_list">
                    <table id="away_table" class="away">
                        <tr>
                            <td colspan="6">Away</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_1" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_2" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_3" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_4" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_5" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_6" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_7" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_8" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_9" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>SP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_10" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>RP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_11" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td colspan="3">player</td>
                            <td style="color:black"></td>
                            <td><button value="away_12" onclick="cancel_click(this.value);" class="cancel_button">X</button></td>
                        </tr>
                    </table>
                </div>
            <div class="select_and_body">
            <div class="select_player">
                <div class="search">
                    <div id="overlay">
                        <div><button onclick="off()" class="search_overlay_button">닫기</button><br><br></div>
                        <div id="overlay_in" style="overflow:auto; height: 600px;"></div>
                    </div>
                    <div class="search_modal"><p class="search_info">선수 검색</p>
                    <input onkeyup="enterkey();" id="searchStr" type="text" class="searchStr" autofocus>
                    <button id="search_button" class="my_button">
                        <img class='search_image' src="static/images/analysis_glass_icon.png"/>
                    </button>
                    </div>
                </div>
                <div class="select_container">
                    <table class="tc">
                    <tr>
                        <td>Home/Away</td>
                        <td>Year</td>
                        <td>Team</td>
                        <!--<td>Hitter/Pitcher</td>-->
                        <td>Position</td>
                        <td>Player</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="sel_home_away">
                                <option value="홈/어웨이 선택" selected="" disabled="" hidden="">홈/어웨이 선택</option>
                                <option name="1">Home</option>
                                <option name="2">Away</option>
                            </select>
                        </td>
                        <td>
                            <select class="sl" id="yearSelect">
                                <option value="--" selected="selected" id="yyyy">연도 선택</option>
                                <option class="year">1982</option>
                                <option class="year">1983</option>
                                <option class="year">1984</option>
                                <option class="year">1985</option>
                                <option class="year">1986</option>
                                <option class="year">1987</option>
                                <option class="year">1988</option>
                                <option class="year">1989</option>
                                <option class="year">1990</option>
                                <option class="year">1991</option>
                                <option class="year">1992</option>
                                <option class="year">1993</option>
                                <option class="year">1994</option>
                                <option class="year">1995</option>
                                <option class="year">1996</option>
                                <option class="year">1997</option>
                                <option class="year">1998</option>
                                <option class="year">1999</option>
                                <option class="year">2000</option>
                                <option class="year">2001</option>
                                <option class="year">2002</option>
                                <option class="year">2003</option>
                                <option class="year">2004</option>
                                <option class="year">2005</option>
                                <option class="year">2006</option>
                                <option class="year">2007</option>
                                <option class="year">2008</option>
                                <option class="year">2009</option>
                                <option class="year">2010</option>
                                <option class="year">2011</option>
                                <option class="year">2012</option>
                                <option class="year">2013</option>
                                <option class="year">2014</option>
                                <option class="year">2015</option>
                                <option class="year">2016</option>
                                <option class="year">2017</option>
                                <option class="year">2018</option>
                                <option class="year">2019</option>
                                <option class="year">2020</option>
                            </select>
                        </td>
                        <td>
                            <select class="sl" id="team">
                                <option value="팀 선택" selected="selected">팀 선택</option>
                            </select>
                        </td>
                        <!--<td>-->
                            <!--<select class="sl" id="hp">-->
                                <!--<option value="&#45;&#45;" selected="selected">타자 / 투수</option>-->
                                <!--<option>타자</option>-->
                                <!--<option>투수</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <td>
                            <select class="sl" id="position">
                            <option value="포지션 선택" selected="selected">포지션 선택</option>
                            <!--<option>포수</option>-->
                            <!--<option>1루수</option>-->
                            <!--<option>2루수</option>-->
                            <!--<option>3루수</option>-->
                            <!--<option>유격수</option>-->
                            <!--<option>좌익수</option>-->
                            <!--<option>우익수</option>-->
                            <!--<option>중견수</option>-->
                            <!--<option>지명타자</option>-->
                            <!--<option>투수</option>-->
                        </select>
                        </td>
                        <td>
                            <select class="sl" id="player">
                                <option value="선수 선택" selected="selected">선수명</option>
                            </select>
                        </td>
                    </tr>
                </table>
                    <button onclick="add_click();" id="add_button" class="my_button">
                        <img class='add_image' src="static/images/icons8-add.png"/>
                    </button>
                </div>
            </div><br>
            <div class="body">
                <div class="ground"><br>
                    <div class="score_board">
                        <table class="score_board_table">
                            <tbody style="border-right-width: 10px; border-color: #98FB98;">
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Team </td>
                                <td> 1 </td>
                                <td> 2 </td>
                                <td> 3 </td>
                                <td> 4 </td>
                                <td> 5 </td>
                                <td> 6 </td>
                                <td> 7 </td>
                                <td> 8 </td>
                                <td> 9 </td>
                                <td> 10 </td>
                                <td> 11 </td>
                                <td> 12 </td>
                                <td> R </td>
                                <td> H </td>
                                <td> E </td>
                                <td> B </td>
                            </tr>
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Away </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                            </tr>
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Home </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="live_board">
                        <div class="gap">&nbsp;</div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">1회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">2회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">3회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">4회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">5회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">6회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">7회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">8회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">9회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">10회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">11회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">12회</button></div>
                        <div class="inning"><button onclick="inning_button()" class="inning_button">기록</button></div>
                        <div class="gap">&nbsp;</div><br>
                        <div class="record_board"><br>
                            <div>
                                <button class="play_ball">
                                    <div class="play_text">Play Ball !!</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </body>

</html>