<!DOCTYPE html>
<html lang="ko">

    <head>
        <link href="static/images/icon_2.jpg" rel="shortcut icon" type="image/x-icon">
        <!-- Webpage Title -->
        <title>BaSi</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!-- self CSS -->
        <link href="static/css/style.css" rel="stylesheet">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="static/js/page.js" > </script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

        <script type="text/javascript">

            $(document).ready(function () {
                showReview();
            });

            function makeReview() {
                $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {sample_give:'샘플데이터'},
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }

            function showReview() {
                $.ajax({
                    type: "GET",
                    url: "/review?sample_give=샘플데이터",
                    data: {},
                    success: function (response) {
                        alert(response["msg"]);
                    }
                })
            }

        </script>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <img class='header_image' src="static/images/icon_1.webp"/>
                <h1>Baseball Simulation PlayGround</h1>
                <p>by Dzeko</p>
            </div>

            <br>
            <div class="home_list">
                    <table class="home">
                        <tr>
                            <td colspan="3">Home</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>SP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>RP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                    </table>
                </div>
            <div class="away_list">
                    <table class="away">
                        <tr>
                            <td colspan="3">Away</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>SP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>RP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td>player</td>
                            <td><button class="cancel_button">X</button></td>
                        </tr>
                    </table>
                </div>
            <div class="select_and_body">
            <div class="select_player">
                <div class="search">
                    <div class="search_modal"><p class="search_info">팀 OR 선수 검색</p>
                    <input id="search1" type="text" name="q" class="searchStr">
                    <button id="search_button" class="my_button"type="submit" data-toggle="modal" data-target="#myModal">검색</button>
                    <!--<button id="icon" type="submit" ><span class="glyphicon glyphicon-search"></span></button>-->
                     </div>
                     <!-- The Modal -->
                    <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">선수정보</h4>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div id="output"></div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                        </div>

                        </div>
                    </div>
                    </div>

                </div>
                <div class="select_container">
                    <table class="tc">
                    <tr>
                        <td>Home/Away</td>
                        <td>Year</td>
                        <td>Team</td>
                        <!--<td>Hitter/Pitcher</td>-->
                        <td>Position</td>
                        <td>Player</td>
                        <td rowspan="2"><button id="add_button" class="my_button">추가</button></td>
                    </tr>
                    <tr>
                        <td>
                            <select class="sl">
                                <option value="" selected="" disabled="" hidden="">홈/어웨이</option>
                                <option name="1">Home</option>
                                <option name="2">Away</option>
                            </select>
                        </td>
                        <td>
                            <select class="sl" id="yearSelect">
                                <option value="--" selected="selected" id="yyyy">연도 선택</option>
                                <option class="year">1982</option>
                                <option class="year">1983</option>
                                <option class="year">1984</option>
                                <option class="year">1985</option>
                                <option class="year">1986</option>
                                <option class="year">1987</option>
                                <option class="year">1988</option>
                                <option class="year">1989</option>
                                <option class="year">1990</option>
                                <option class="year">1991</option>
                                <option class="year">1992</option>
                                <option class="year">1993</option>
                                <option class="year">1994</option>
                                <option class="year">1995</option>
                                <option class="year">1996</option>
                                <option class="year">1997</option>
                                <option class="year">1998</option>
                                <option class="year">1999</option>
                                <option class="year">2000</option>
                                <option class="year">2001</option>
                                <option class="year">2002</option>
                                <option class="year">2003</option>
                                <option class="year">2004</option>
                                <option class="year">2005</option>
                                <option class="year">2006</option>
                                <option class="year">2007</option>
                                <option class="year">2008</option>
                                <option class="year">2009</option>
                                <option class="year">2010</option>
                                <option class="year">2011</option>
                                <option class="year">2012</option>
                                <option class="year">2013</option>
                                <option class="year">2014</option>
                                <option class="year">2015</option>
                                <option class="year">2016</option>
                                <option class="year">2017</option>
                                <option class="year">2018</option>
                                <option class="year">2019</option>
                                <option class="year">2020</option>
                            </select>
                        </td>
                        <td>
                            <select class="sl" id="team">
                                <option value="--" selected="selected">팀 선택</option>
                            </select>
                        </td>
                        <!--<td>-->
                            <!--<select class="sl" id="hp">-->
                                <!--<option value="&#45;&#45;" selected="selected">타자 / 투수</option>-->
                                <!--<option>타자</option>-->
                                <!--<option>투수</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <td>
                            <select class="sl" id="position">
                            <option value="--" selected="selected">포지션</option>
                            <!--<option>포수</option>-->
                            <!--<option>1루수</option>-->
                            <!--<option>2루수</option>-->
                            <!--<option>3루수</option>-->
                            <!--<option>유격수</option>-->
                            <!--<option>좌익수</option>-->
                            <!--<option>우익수</option>-->
                            <!--<option>중견수</option>-->
                            <!--<option>지명타자</option>-->
                            <!--<option>투수</option>-->
                        </select>
                        </td>
                        <td>
                            <select class="sl" id="player">
                                <option value="" selected="selected">선수명</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </div>
            </div><br>
            <div class="body">
                <div class="ground"><br>
                    <div class="score_board">
                        <table class="score_board_table">
                            <tbody style="border-right-width: 10px; border-color: #01DF74;">
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Team </td>
                                <td> 1 </td>
                                <td> 2 </td>
                                <td> 3 </td>
                                <td> 4 </td>
                                <td> 5 </td>
                                <td> 6 </td>
                                <td> 7 </td>
                                <td> 8 </td>
                                <td> 9 </td>
                                <td> 10 </td>
                                <td> 11 </td>
                                <td> 12 </td>
                                <td> R </td>
                                <td> H </td>
                                <td> E </td>
                                <td> B </td>
                            </tr>
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Away </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                            </tr>
                            <tr class="score_board_tr">
                                <td style="width:47px;"> Home </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                                <td> 0 </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="live_board">
                        <div class="gap">&nbsp;</div>
                        <div class="inning"><button class="inning_button">1회</button></div>
                        <div class="inning"><button class="inning_button">2회</button></div>
                        <div class="inning"><button class="inning_button">3회</button></div>
                        <div class="inning"><button class="inning_button">4회</button></div>
                        <div class="inning"><button class="inning_button">5회</button></div>
                        <div class="inning"><button class="inning_button">6회</button></div>
                        <div class="inning"><button class="inning_button">7회</button></div>
                        <div class="inning"><button class="inning_button">8회</button></div>
                        <div class="inning"><button class="inning_button">9회</button></div>
                        <div class="inning"><button class="inning_button">10회</button></div>
                        <div class="inning"><button class="inning_button">11회</button></div>
                        <div class="inning"><button class="inning_button">12회</button></div>
                        <div class="inning"><button class="inning_button">기록</button></div>
                        <div class="gap">&nbsp;</div><br>
                        <div class="record_board"><br>경기 시작!</div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </body>

</html>